modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-f57936ee-8c95-4485-a96e-773e6999f121"

[userenv]

[userenv.shared]
APP_URL = "https://3d25ab31-51fc-4559-a03a-dd9dba985dc0-00-3nb2g4k3mu8ca.riker.replit.dev/"
